.interna_portfolio {
    background: url("../img/bg-portfolio.jpg") no-repeat center;
    background-size: cover;
}

.quote_clientes {
    padding: 60px 0;
    max-width: 400px;
    margin: 0 auto;
}

.quote_cliente p{
    text-align: center;
    font-family: Georgia, 'Times New Roman', serif;
    font-size: 18px;
    line-height: 25px;
    font-style: italic;
    margin-bottom: 20px;
}

.quote_clentes cite{
    font-weight: bold;
    font-size: 18px;
    text-align: right;
    float: right;
    font-style: normal;
}