/* Reset */

body, p, h1, h2, ul, li {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

body {
    font-family: Georgia, serif;
    color: #252525;
}

* {
    box-sizing: border-box;
}

/* Menu */

.header-info {
    font-size: 0.875em;
    background: #d6d3c8;
    padding: 5px 0;
    text-align: center;
}

.header-logo img{
    display: block;
    margin: 40px auto;
}

.menu {
    border-top: 3px solid #d6d3c8;
    border-bottom: 3px solid #d6d3c8;
    text-align: center;
    margin-bottom: 40px;
    padding: 20px 0;
}

.menu li{
    display: inline-block;
}

.menu li a{
    display: block;
    padding: 5px 10px 5px 0;
    text-decoration: none;
    color: #252525;
}

.menu li a::before{
    content: '•';
    padding-right: 10px;
}

.menu li:first-child a::before{
    content: '';
}

/* Conteúdo */

.container {
    max-width: 960px;
    margin: 0 auto;
}

/* Filtro */

.filtro {
    background: #e7e4d8;
    border: 3px solid #d6d3c8;
    width: 300px;
    margin: 0 10px;
    padding: 20px;
    float: left;
}

.filtro h2{
    font-size: 1.25em;
    padding: 10px 0;
}

.filtro ul{
    border-top: 3px solid #c0beb4;
    border-bottom: 3px solid #c0beb4;
    padding: 10px 0;
}

.filtro li{
    font-size: 1.25em;
    font-style: italic;
    line-height: 2;
}

.filtro li::after{
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border: 3px solid #c0beb4;
    float: right;
    margin-top: 5px;
}

.sabor {
    overflow: hidden;
}

.sabor span{
    text-indent: -200px;
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    vertical-align: middle;
}

.sabor-3 {
    background: #492901;
    box-shadow: 20px 0 0 0 #492901, 
                40px 0 0 0 #492901;
}

.sabor-4 {
    background: #c17139;
    box-shadow: 20px 0 0 0 #c17139, 
                40px 0 0 0 #c17139, 
                60px 0 0 0 #c17139;
}

.sabor-5 {
    background: #d7a54d;
    box-shadow: 20px 0 0 0 #d7a54d, 
                40px 0 0 0 #d7a54d, 
                60px 0 0 0 #d7a54d, 
                80px 0 0 0 #d7a54d;
}